<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jxjz.answer.dao.AdminUserMapper" >
  <resultMap id="BaseResultMap" type="com.jxjz.answer.pojo.AdminUser" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="admin_username" property="adminUsername" jdbcType="VARCHAR" />
    <result column="admin_password" property="adminPassword" jdbcType="VARCHAR" />
    <result column="admin_loginip" property="adminLoginip" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>